<div class="flex flex-col gap-6 p-6 sm:p-8 md:p-10">
  <div class="bg-white shadow-md rounded-lg p-6">
    <label class="block text-gray-700 font-bold mb-2">Utilisateur</label>
    <div class="flex items-center gap-4">
      <input class="border border-gray-300 p-2 focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm rounded-md" [(ngModel)]="check.badge" type="text" placeholder="Badge utilisateur">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" (click)="detectBadge()">S'identifier</button>
    </div>

    <div *ngIf="user.username" class="mt-4">
      <p class="text-green-500 text-lg font-bold">Bonjour, {{ user.username }}</p>
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 mt-2" (click)="disconnect()">Se déconnecter</button>
    </div>
  </div>

  <div *ngIf="user.username" class="mt-4">
    <div class="bg-white shadow-md rounded-lg p-6">
      <h1 class="text-2xl font-bold mb-4">Sélectionner un produit</h1>
      <label class="block text-gray-700 font-bold mb-2">Choisir un produit</label>
      <select id="selectWithdraw" class="border border-gray-300 p-2 focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm rounded-md" [(ngModel)]="stock.id">
        <option value="0" disabled selected>Choisir un produit</option>
        <option *ngFor="let item of stocksArray" [value]="item.id">{{ item.product.title }}</option>
      </select>
    </div>

    <div class="bg-white shadow-md rounded-lg p-6">
      <h1 class="text-2xl font-bold mb-4">Commentaire</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="flex items center gap-4">
          <label class="block text-gray-700 font-bold mb-2">Commentaire</label>
          <input class="border border-gray-300 p-2 focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm rounded-md" [(ngModel)]="check.comment" type="text" placeholder="Commentaire">
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" (click)="setStatus(true)">OK</button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" (click)="setStatus(false)">NOK</button>
    </div>
  </div>
  <p-toast></p-toast>
</div>
