<div class="flex flex-col gap-6 p-6 sm:p-8 md:p-10">
  <!-- Deux colonnes responsives, sur mobile, les colonnes passent en une seule colonne -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <h1 class="text-2xl font-bold py-3"><fa-icon [icon]="faListCheck"></fa-icon> Contrôles internes</h1>
      <h2 class="text-xl">
        Scannez votre matricule, sélectionnez le produit à contrôler, analysez celui-ci et déclarez son état.
      </h2>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
      <label class="block text-gray-700 font-bold mb-2">Utilisateur</label>
      <div class="flex items-center gap-4">
        <input class="border border-gray-300 p-2 focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm rounded-md" [(ngModel)]="check.badge" type="text" placeholder="Badge utilisateur">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" (click)="detectBadge()">S'identifier</button>
      </div>
      <label class="block text-gray-700 font-lighter mb-2">Scannez votre carte</label>

      <div *ngIf="user.username" class="mt-4">
        <p class="text-green-500 text-lg font-bold">Bonjour, {{ user.username }}</p>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 mt-2" (click)="disconnect()">Se déconnecter</button>
      </div>
    </div>
  </div>

  <!-- line separator -->
  <div class="border-b-2 border-gray-200"></div>

  <div *ngIf="user.username" class="mt-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">

      <div class="bg-white shadow-md rounded-lg p-6">
        <h1 class="text-2xl font-bold mb-4">Sélectionner un produit</h1>
        <label class="block text-gray-700 font-bold mb-2">Choisir un produit</label>
        <select id="selectWithdraw" class="border border-gray-300 p-2 focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm rounded-md" [(ngModel)]="stock.id" (change)="detectStock()">
          <option value="0" disabled selected>Choisir un produit</option>
          <option *ngFor="let item of stocksArray" [value]="item.id">{{ item.product.title }}</option>
        </select>
        <!-- Input pour scanner le produit -->
        <div class="mt-4">
          <label class="block text-gray-700 font-bold mb-2">Scanner le produit</label>
          <input class="border border-gray-300 p-2 focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm rounded-md" [(ngModel)]="stock.id" (change)="detectStock()" type="text" placeholder="Code produit">
        </div>
      </div>

      <!-- Caractéristiques du produit -->
      <div class="bg-white shadow-md rounded-lg p-6">
        <div *ngIf="review.id" class="p-6">
          <div class="flex justify-between items-center mb-4">
            <div>
              <div class="uppercase tracking-wide text-sm text-gray-500 font-semibold">Aperçu du produit</div>
              <p class="text-lg leading-tight font-medium text-black">{{ review.id }} - {{ review.product.title }}</p>
            </div>
            <div>
              <div class="uppercase tracking-wide text-sm text-gray-500 font-semibold">Statut</div>
              <p class="text-lg leading-tight font-medium" [class]="getStatusClass()">{{ review.status == 0 ? 'NOK' : review.status == 1 ? 'OK' : 'HS' }}</p>
            </div>
            <div>
              <div class="uppercase tracking-wide text-sm text-gray-500 font-semibold">Dernier contrôle effectué</div>
              <p class="text-lg leading-tight text-gray-500">N/A</p>
            </div>
            <div>
              <div class="uppercase tracking-wide text-sm text-gray-500 font-semibold">Date de création</div>
              <p class="text-lg leading-tight text-gray-500">{{ review.creationDate| date:"dd/MM/yyyy" }}</p>
            </div>
          </div>
          <div class="flex">
            <div class="flex-shrink-0">
              <img class="h-48 w-48 object-cover" src="{{ review.product.picture ? review.product.picture : 'assets/images/default_image.jpg' }}" alt="Product Image">
            </div>
            <div class="ml-6">
              <div class="grid grid-cols-2 gap-x-12">
                <div>
                  <div class="mt-4">
                    <div class="text-gray-500">Type</div>
                    <div class="text-black">{{ review.product.type }}</div>
                  </div>
                  <div class="mt-4">
                    <div class="text-gray-500">Marque</div>
                    <div class="text-black">N/A</div>
                  </div>
                  <div class="mt-4">
                    <div class="text-gray-500">Taille</div>
                    <div class="text-black">{{ review.product.size }}</div>
                  </div>
                </div>
                <div>
                  <div class="mt-4">
                    <div class="text-gray-500">Emplacement</div>
                    <div class="text-black">{{ review.product.location }}</div>
                  </div>
                  <div class="mt-4">
                    <div class="text-gray-500">Charge maximale d’utilisation</div>
                    <div class="text-black">{{ review.product.cmu }}</div>
                  </div>
                  <div class="mt-4">
                    <div class="text-gray-500">ID ALITRACER</div>
                    <div class="text-black">N/A</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- if review review is empty -->
        <div *ngIf="!review.id" class="text-center self-center">
          <p class="text-lg font-bold">Veuillez scanner ou sélectionner un produit pour afficher ses caractéristiques</p>
        </div>

      </div>

    </div>

    <div *ngIf="review.id" class="bg-white shadow-md rounded-lg p-6">
      <h1 class="text-2xl font-bold mb-4">Analyse</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-5">
        <div class="flex items center gap-4">
          <label class="block text-gray-700 font-bold mb-2">Commentaire</label>
          <input class="border border-gray-300 p-2 focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm rounded-md" [(ngModel)]="check.comment" type="text" placeholder="Analyse visuelle du produit">
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-6 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 text-xl" (click)="setStatus(1)">OK</button>
        <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-6 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 text-xl" (click)="setStatus(0)">NOK</button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-6 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 text-xl" (click)="setStatus(2)">HS</button>
      </div>
    </div>
  </div>
  <p-toast></p-toast>
</div>

<!-- Hidden divs for tailwindcss color classes
(smh sometimes color classes don't get recognized if they are set from JS - see getStatusClass() -->
<div>
  <div class="hidden text-orange-400"></div>
  <div class="hidden text-green-500"></div>
  <div class="hidden text-red-600"></div>
</div>
