<div class="container mx-auto p-4">
  <div class="mb-6">
    <h1 class="text-3xl font-bold">Utilisateurs</h1>
    <p class="text-gray-600">Consultez la liste des utilisateurs, modifiez leur informations ou créez-en de nouveaux.</p>
  </div>

  <div class="bg-white p-6 rounded shadow-md mb-6">
    <h2 class="text-xl font-bold mb-4">Ajout d'un utilisateur</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4 mb-4">
      <input class="border border-gray-300 p-2 rounded" type="text" [(ngModel)]="user.token" placeholder="N° de matricule">
      <input class="border border-gray-300 p-2 rounded" type="text" [(ngModel)]="user.username" placeholder="Nom de l'utilisateur">
      <input class="border border-gray-300 p-2 rounded" type="password" [(ngModel)]="user.password" placeholder="Mot de passe">
      <select class="border border-gray-300 p-2 rounded" [(ngModel)]="user.role">
        <option value="BASIC">Basique</option>
        <option value="CONTROLEUR">Contrôleur</option>
      </select>
      <button class="col-span-full sm:col-span-2 lg:col-span-1 bg-blue-500 text-white rounded shadow p-3" (click)="addUser()">Ajouter</button>
    </div>
    <p class="text-gray-500">Scannez votre carte</p>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let user of userService.getAllUsers()" class="bg-white shadow-md rounded-lg p-4">
      <div class="flex flex-col items-center">
        <div class="text-xl font-bold">{{ user.username }}</div>
        <div class="text-gray-500">{{ user.token }}</div>
        <span class="mt-2 px-2 py-1 rounded {{ user.role === 'BASIC' ? 'bg-blue-100 text-blue-800' : 'bg-green-100 text-green-800' }}">
          {{ user.role === 'BASIC' ? 'Basique' : 'Contrôleur' }}
        </span>
        <div class="mt-4 text-gray-500">
          <div class="flex flex-col">
            <p class="font-bold">Activité récente :</p>
            <p *ngIf="user.info && user.info[0] != 'NA' " class="text-gray-500"> {{ user.info[0] }} du produit <a class="italic text-gray-600"> {{ user.info[2] }} </a></p>
            <p *ngIf="!user.info || user.info[0] == 'NA' " class="text-gray-500">Aucune activité</p>
          </div>
        </div>
        <div class="mt-4 flex gap-2">
          <button class="bg-blue-500 text-white rounded-full h-10 w-10 flex items-center justify-center" (click)="showDialog(user, 1)">
            <i class="pi pi-pencil"></i>
          </button>
          <button class="bg-red-500 text-white rounded-full h-10 w-10 flex items-center justify-center" (click)="showDialog(user, 2)">
            <i class="pi pi-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <p-dialog header="Modification de l'utilisateur" [(visible)]="dialog1Visible" [style]="{ width: '50vw' }">
    <div class="flex flex-col gap-3 p-5">
      <h1 class="text-2xl font-bold py-3">Utilisateur n° {{ selectedUser.id }}</h1>
      <input class="border border-gray-300 p-2 rounded" type="text" [(ngModel)]="selectedUser.username" placeholder="Nom de l'utilisateur">
      <input class="border border-gray-300 p-2 rounded" type="text" [(ngModel)]="selectedUser.token" placeholder="token">
      <select class="border border-gray-300 p-2 rounded bg-white" [(ngModel)]="selectedUser.role">
        <option value="BASIC">Basique</option>
        <option value="CONTROLEUR">Contrôleur</option>
      </select>
      <button class="bg-blue-500 text-white rounded shadow p-3" (click)="[userService.updateUser(selectedUser), hideDialog(), showUpdateToast()]">Modifier</button>
    </div>
  </p-dialog>

  <p-dialog header="Supprimer un utilisateur" [(visible)]="dialog2Visible" [style]="{ width: '50vw' }">
    <div class="flex flex-col gap-3 p-5">
      <h1 class="text-2xl font-bold py-3">Utilisateur n° {{ selectedUser.id }}</h1>
      <p>Voulez-vous définitivement supprimer cet utilisateur ?</p>
      <button class="bg-red-500 text-white rounded shadow p-3" (click)="[userService.removeUser(selectedUser.id), hideDialog(), showDeleteToast()]">Supprimer</button>
    </div>
  </p-dialog>

  <p-toast></p-toast>
</div>
