<div class="flex flex-col gap-3 p-5">
  <div>
    <h1 class="text-2xl font-bold py-3">Ajout de produit</h1>
    <input class="border border-gray-300 p-2" type="text" [(ngModel)]="product.title" placeholder="Nom du produit" maxlength="50">
    <input class="border border-gray-300 p-2" type="text" [(ngModel)]="product.type" placeholder="Type" maxlength="25">
    <input class="border border-gray-300 p-2" type="text" [(ngModel)]="product.size" placeholder="Size" maxlength="20">
    <input class="border border-gray-300 p-2" type="text" [(ngModel)]="product.cmu" placeholder="Cmu" maxlength="20">
    <input class="border border-gray-300 p-2" type="text" [(ngModel)]="product.location" placeholder="Localisation" maxlength="25">
    <input class="border border-gray-300 p-2" type="file" (change)="onFileSelected($event, product)" accept="image/*" placeholder="Image">
    <button class="bg-blue-500 text-white rounded shadow p-3" (click)="addProduct()">Ajouter</button>
  </div>
  <div class="rounded overflow-auto shadow-lg bg-gray-100 border p-5 gap-3">
    <!-- if productService.getAllProducts() is empty, display a message -->
    <div *ngIf="productService.getAllProducts().length === 0" class="text-center text-gray-500">
      <p>Aucun produit n'a été ajouté</p>
    </div>
    <p-carousel [value]="productService.getAllProducts()" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div class="mb-3">
              <img *ngIf="product.picture" src="{{ product.picture }}" alt="Image du produit" class="product-image">
              <img *ngIf="!product.picture" src="assets/images/default_image.jpg" alt="Image du produit" class="product-image">
            </div>
            <div>
              <h4 class="mb-1 font-bold">{{ product.title }}</h4>
              <h6 class="mt-0 mb-3">{{ product.size }}</h6>
              <h6 class="mt-0 mb-3">{{ product.cmu }}</h6>
              <h6 class="mt-0 mb-3">{{ product.location }}</h6>
              <p-tag [value]="product.type"></p-tag>
              <div class="mt-5 align-items-center justify-content-center gap-2 p-5">
                <div class="bg-blue-500 rounded-full p-button p-3 m-2" (click)="showDialog(product, 1)">
                  <i class="pi pi-pencil"></i>
                </div>
                <div class="bg-red-800 rounded-full p-button p-3 m-2" (click)="showDialog(product, 2)">
                  <i class="pi pi-trash"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>



  </div>
  <p-dialog header="Modification de produit" [(visible)]="dialog1Visible" [style]="{ width: '50vw' }" >
    <div class="flex flex-col gap-3 p-5">
      <h1 class="text-2xl font-bold py-3">Produit n° {{ selectedProduct.id }}</h1>
      <input class="border border-gray-300 p-2" type="text" [(ngModel)]="selectedProduct.title" placeholder="Nom du produit">
      <input class="border border-gray-300 p-2" type="text" [(ngModel)]="selectedProduct.type" placeholder="Type">
      <input class="border border-gray-300 p-2" type="text" [(ngModel)]="selectedProduct.size" placeholder="Size">
      <input class="border border-gray-300 p-2" type="text" [(ngModel)]="selectedProduct.cmu" placeholder="Cmu">
      <input class="border border-gray-300 p-2" type="text" [(ngModel)]="selectedProduct.location" placeholder="Localisation">
      <img *ngIf="selectedProduct.picture" src="{{ selectedProduct.picture }}" alt="Image du produit" class="product-image">
      <img *ngIf="!selectedProduct.picture" src="assets/images/default_image.jpg" alt="Image du produit" class="product-image">
      <input class="border border-gray-300 p-2" type="file" (change)="onFileSelected($event, selectedProduct)" accept="image/*" placeholder="Image">
      <button class="bg-blue-500 text-white rounded shadow p-3" (click)="[productService.updateProduct(selectedProduct), hideDialog(), showUpdateToast()]">Modifier</button>
    </div>
  </p-dialog>

  <p-dialog header="Supprimer un produit" [(visible)]="dialog2Visible" [style]="{ width: '50vw' }" >
    <div class="flex flex-col gap-3 p-5">
      <h1 class="text-2xl font-bold py-3">Produit n° {{ selectedProduct.id }}</h1>
      <p>Voulez-vous définitivement supprimer ce produit ?</p>
      <button class="bg-red-800 text-white rounded shadow p-3" (click)="[productService.removeProduct(selectedProduct.id), hideDialog(), showDeleteToast()]">Supprimer</button>
    </div>
  </p-dialog>

  <p-toast></p-toast>

</div>
