<div class="flex flex-col justify-center items-center">
  <div class="w-40 h-40 flex flex-col justify-center items-center transition ease-in-out rounded-3xl shadow-2xl border-2 bg-gray-300 p-3">
    <div class="text-white font-bold">
      {{ stock.product.title}}
    </div>
  </div>
  <div class="text-dark font-bold p-3">
    Disponibilité: {{ stock.available ? 'Disponible' : 'Indisponible' }}
  </div>
  <div class="text-dark font-bold p-3">
    <!-- Si = 0 NOK, si = 1 OK , si = 2 HS -->
    Statut: {{ stock.status === 0 ? 'NOK' : stock.status === 1 ? 'OK' : 'HS' }}
  </div>
  <div class="text-dark font-bold p-3">
    Date de création: {{ stock.creationDate }}
  </div>
  <div class="px-6 py-1.5 rounded bg-red-800 text-white" (click)="launchTrigger()">-</div>
</div>
