<!-- welcome page, tailwindcss body -->
<div class="bg-gray-100 h-full">
    <div class="flex flex-col items-center justify-center h-full">
        <div class="flex flex-col items-center">
            <h1 class="text-6xl font-bold text-gray-800">Bienvenue sur <span class="text-blue-500">SHOP-STI</span></h1>
            <p class="text-2xl text-gray-600">Votre outil de gestion de stock</p>

            <div class="mt-12">
                <a href="/login" class="px-4 py-2 bg-blue-500 text-white rounded-md">Se connecter</a>
            </div>
        </div>
    </div>
</div>

